---
import { Image } from "astro:assets";
import uno from "../assets/m01.webp";
import dos from "../assets/m02.webp";
import tres from "../assets/m03.webp";
import cuatro from "../assets/m04.webp";
import cinco from "../assets/m05.webp";
---

<section>
  <div class="wrapper">
    <div class="slider">
      <div id="slider-1" class="content">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <picture>
          <source srcset="/src/assets/p01.webp" media="(max-width: 500px)" />
          <source srcset="/src/assets/m01.webp" media="(max-width: 800px)" />
          <img src="/src/assets/g01.webp" alt="img01" />
        </picture>
      </div>

      <div id="slider-2" class="content">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 2</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <picture>
          <source srcset="/src/assets/p02.webp" media="(max-width: 460px)" />
          <source srcset="/src/assets/m02.webp" media="(max-width: 800px)" />
          <img src="/src/assets/g02.webp" alt="img02" />
        </picture>
      </div>

      <div id="slider-3" class="content">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 3</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <picture>
          <source srcset="/src/assets/p03.webp" media="(max-width: 460px)" />
          <source srcset="/src/assets/m03.webp" media="(max-width: 800px)" />
          <img src="/src/assets/g03.webp" alt="img03" />
        </picture>
      </div>

      <div id="slider-4" class="content">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 4</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <picture>
          <source srcset="/src/assets/p04.webp" media="(max-width: 460px)" />
          <source srcset="/src/assets/m04.webp" media="(max-width: 800px)" />
          <img src="/src/assets/g04.webp" alt="img04" />
        </picture>
      </div>

      <div id="slider-5" class="content">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 5</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <picture>
          <source srcset="/src/assets/p05.webp" media="(max-width: 460px)" />
          <source srcset="/src/assets/m05.webp" media="(max-width: 800px)" />
          <img src="/src/assets/g05.webp" alt="img05" />
        </picture>
      </div>
    </div>
    <div class="slider-nav">
      <a href="#slider-1">
        <Image class="image-nav" src={uno} alt="1° imagen" /></a
      >
      <a href="#slider-2">
        <Image class="image-nav" src={dos} alt="2° imagen" /></a
      >
      <a href="#slider-3">
        <Image class="image-nav" src={tres} alt="3° imagen" /></a
      >
      <a href="#slider-4">
        <Image class="image-nav" src={cuatro} alt="4° imagen" /></a
      >
      <a href="#slider-5"
        ><Image class="image-nav" src={cinco} alt="5° imagen" /></a
      >
    </div>
  </div>
</section>

<style>
  section {
    position: relative;

    view-timeline-name: --transition;
    view-timeline-axis: block;
    animation-timeline: --transition;

    animation-name: transition;
    animation-range: exit 2%;
    animation-fill-mode: both;
  }

  @keyframes transition {
    for {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  .slider {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .content {
    position: relative;
    scroll-snap-align: center;
    height: 100vh;
    flex: 1 0 100%;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  .tex {
    width: 70%;
    margin: 0 auto 72px;
    left: 15%;
    right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    position: absolute;
    z-index: 3;

    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;

    h1,
    h3 {
      font-weight: bolder;
      line-height: 1.3em;
    }

    h1 {
      color: #f1683a;
      font-size: 7em;
    }

    h3 {
      color: #fff;
      font-size: 4em;
    }

    p {
      padding-right: 40%;
    }
  }

  .slider-nav {
    display: flex;
    position: absolute;
    bottom: 4.25rem;
    left: 72%;
    transform: translateX(-50%);

    a {
      width: 10rem;
      height: 14rem;
      border-radius: 1rem;
      margin: 0 -5px 0;
      scale: 0.8;
      transition: all 150ms ease-in-out;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    a:hover {
      scale: 1;
      margin: 0 8px 0;
      border: #f1683a solid 1px;
    }
  }

  @media (max-width: 500px) {
    .slider {
      overflow-x: scroll;
    }
    .content {
      height: 200vh;

      img {
        width: 200%;
        transform: translateX(-5%);
        mask-image: linear-gradient(rgba(0, 0, 0, 0.267) 85%, transparent);
      }
    }

    .tex {
      h1 {
        color: #f1683a;
        font-size: 5em;
      }

      h3 {
        color: #fff;
        font-size: 3em;
      }

      p {
        padding-right: 0;
      }
    }

    .slider-nav {
      display: flex;
      position: absolute;
      left: calc(80% - 300px);
      width: 350px;
      transform: translateY(-1%);
      gap: 5px;
      overflow-inline: scroll;

      a {
        width: 6rem;
        height: 10rem;
        border-radius: 1rem;
        margin: 0 -5px 0;
        scale: 0.8;
        transition: all 150ms ease-in-out;
        display: flex;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }

      a:hover {
        scale: 0.8;
        margin: 0 -5px 0;
        border: none;
      }
    }
  }
</style>
